.imgheaderown {
height: 70;
width: 70;
}

.imgheader {
height: 60;
width: 60;
}

.shisown {
border-bottom-width: 2;
border-bottom-color: white;
}

.followreq-image {
color: #dfdfdf;
height: 60;
width: 60;
font-size: 60;
padding: 0;
margin-bottom: 5;
margin-top: 20;
}

.tabselected {
color: #ff4b60;
}

.tabnotselected {
color: black;
}